{% extends 'base.html' %}
{% block tilte %}

    <title>设置新密码 | 社会招聘 | Tencent 腾讯招聘</title>
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock %}
<body>
{% block content %}
    <div id="reg0" class="maxwidth">
        <div class="box wcont_a">
            <div class="blueline">
            </div>
                   <form class="form" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
{#                        {% if field.help_text %}#}
{#                            <p class="help text-small text-muted">{{ field.help_text|safe }}</p>#}
{#                        {% endif %}#}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </form>
                </div>
                <br>
            </div>
{% endblock %}
</body>