{% extends 'inTencent/work.html' %}
{% block tilte %}
    <title>腾讯生活 | 人在腾讯 | Tencent 腾讯招聘</title>
{% endblock %}
<body>
{% block content %}
    {% block page_left %}
        {{ block.super }}
    {% endblock %}
    <div id="inQQCt">
        <div id="inqqtxsh" class="margincenter"></div>
    </div>

    <div id="inQQitems">
        <div class="item">
            <div class="left plr9"><img src="//cdn.m.tencent.com/hr_static/img/live1.png"/></div>
            <div class="left fg" style="width:523px;">
                <p class="t">01<span>员工大会</span></p>
                <p class="c">每年年底举行的员工大会，是腾讯年底的“两会”之一。通过公司总办领导在大会上的发言，使全员了解公司未来发展方向以及公司战略，并对年度先进团队和个人进行表彰。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="left fg" style="width:477px;">
                <p class="t">02<span>圣诞晚会</span></p>
                <p class="c">自公司创立伊始，每年的圣诞前夜，公司全体员工都会齐聚一堂，自导自演，载歌载舞，共同欢庆属于我们自己的盛大节日—圣诞晚会。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="left pl9"><img src="//cdn.m.tencent.com/hr_static/img/live2.png"/></div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="left plr9"><img src="//cdn.m.tencent.com/hr_static/img/live3.png"/></div>
            <div class="left fg" style="width:510px;">
                <p class="t">03<span>腾讯文化日</span></p>
                <p class="c">每到公司生日（11月11日）这一天，所有腾讯人都会穿着由自己同事设计的充满腾讯特色的文化衫，共同度过盛会般的一天，彰显腾讯文化。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="fg">
                <p class="t">04<span>嘉年华</span></p>
                <p class="c">
                    公司举办的每年一次的周年庆大型娱乐活动，覆盖公司全体员工及其家属，是公司最大规模的员工及家属同庆的活动。每届嘉年华活动场地及形式各有不同，通过运动会、园游会等形式，营造腾讯大家庭的和谐氛围。</p>
                <div class="ptb9 textc"><img src="//cdn.m.tencent.com/hr_static/img/live4.png"/></div>
            </div>
        </div>

        <div class="item">
            <div class="left fg" style="width:580px;">
                <p class="t">05<span>Q歌Q魅</span></p>
                <p class="c">打造自己的梦工厂，唱响每个人的精彩。公司每两年举办一次的“Q歌Q魅”，进行员工自己的明星评选，成为员工期待的音乐时尚盛典。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="left plr9"><img src="//cdn.m.tencent.com/hr_static/img/live5.png"/></div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="left plr9"><img src="//cdn.m.tencent.com/hr_static/img/live6.png"/></div>
            <div class="left fg" style="width:562px;">
                <p class="t">06<span>形象店</span></p>
                <p class="c">
                    腾讯形象店位于腾讯大厦辅楼一层，主要对员工及其访客和家属开放，是腾讯周边产品的唯一集中展示场所，特地加入的专业咖啡元素，使得形象店更加适合轻松沟通。这里也是腾讯员工最喜爱的休闲场所之一。</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="clr"></div>
        </div>

        <div>
            <div class="item left" style="width:444px;">
                <div class="fg">
                    <p class="t">07<span>总办午餐日</span></p>
                    <p class="c">现场打探总办成员的八卦消息，访谈他们的心路历程及财富人生。对话节目，每两周在员工与总办之间开展。实话实说，艺术人生。</p>
                    <div class="ptb9" style="padding-left:44px;"><img
                            src="//cdn.m.tencent.com/hr_static/img/live7.png"/></div>
                </div>
            </div>
            <div class="item left" style="width:444px;">
                <div class="fg">
                    <p class="t">08<span>文体协会</span></p>
                    <p class="c">腾讯为了关爱员工健康，丰富业余文化生活，成立了舞蹈、音乐、篮球、足球、羽毛球、排球、乒乓球、英语角、摄影、桌游等各种协会，让员工的工作与生活得到完美平衡。</p>
                    <div class="ptb9 textr"><img src="//cdn.m.tencent.com/hr_static/img/live8.png"/></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
{% endblock %}
</body>