{% extends 'inTencent/work.html' %}
{% block tilte %}
    <title>培训发展 | 人在腾讯 | Tencent 腾讯招聘</title>
{% endblock %}

<body>
{% block content %}
    {% block page_left %}
        {{ block.super }}
    {% endblock %}

    <div id="inQQCt">
        <div id="inqqpxfz" class="margincenter"></div>
    </div>

    <div id="inQQitems">
        <div class="item">
            <div class="fg2">
                <p class="t">01<span>腾讯培训发展之道</span></p>
                <div class="ptb9 textr"><img src="//cdn.m.tencent.com/hr_static/img/training1.png"/></div>
            </div>
        </div>

        <div class="item" style="padding-left: 29px;">
            <div class="left plr9"><img src="//cdn.m.tencent.com/hr_static/img/training2.png"/></div>
            <div class="left fg" style="width:560px;">
                <p class="t">02<span>腾讯学院</span></p>
                <p class="c">
                    2007年8月，腾讯学院正式成立，标志着腾讯员工培训发展工作进入新的里程碑。从成立到现在，腾讯学院以成为互联网行业最受尊敬的企业大学为愿景，通过开展各类课程与培训，努力成为腾讯员工的成长顾问与业务团队的发展伙伴，为腾讯的现在培养人才，更为腾讯的明天培养人才。</p>
                <p>&nbsp;</p>
            </div>
            <div class="clr"></div>
        </div>

        <div class="item">
            <div class="fg3">
                <p class="t">03<span>腾讯公司自成立以来，一直对员工的培训与发展非常重视，加盟腾讯会让您获得独一无二的学习发展机会，具体表现在：</span></p>
                <p class="t2">一：腾讯是一家处于朝阳行业中的企业</p>
                <p class="c">
                    腾讯每年的业务规模和组织规模均保持稳健的增长，同时腾讯以即时通讯（QQ）为核心覆盖了游戏、无线、网站、搜索、微博、电子商务等各个业务领域范围的多元化互联网企业集团，以上种种都为员工的发展和学习提供了广阔的天地和机会。</p>
                <p class="t2">二：腾讯建立了完善的员工发展机制</p>
                <p class="c">腾讯从制度上保证了员工在公司内有多通道发展，共同打造了员工职业发展体系，建立了员工管理和专业“双通道”的职业发展体系。</p>
                <div class="ptb9 textr">
                    <img src="//cdn.m.tencent.com/hr_static/img/training3.png"/>
                </div>
                <p class="t2">三：依托员工职业发展体系建立了完备的培养体系，加速员工成长</p>
                <p class="c">根据员工管理和专业的职业发展双通道体系，员工从一入司开始，公司就为大家设计了全方位的培养体系：</p>
                <div class="ptb9 textr">
                    <img src="//cdn.m.tencent.com/hr_static/img/training4.png"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>