{% extends 'inTencent/work.html' %}
{% block tilte %}
    <title>薪酬福利 | 人在腾讯 | Tencent 腾讯招聘</title>
{% endblock %}
<body>
{% block content %}
    {% block page_left %}
        {{ block.super }}
    {% endblock %}

    <div id="inQQCt">
        <div id="inqqxcfl" class="margincenter"></div>
    </div>

    <div id="inQQitems">
        <div class="textc"><img src="//cdn.m.tencent.com/hr_static/img/welfare1.png"/></div>
        <div id="welfares">
            <ul class="left itemt">
                <li class="active"><span>安居计划</span></li>
                <li><span>住房公积金</span></li>
                <li><span>社会与商业保险</span></li>
                <li><span>员工假期</span></li>
                <li><span>年度团队建设</span></li>
                <li><span>暑期实习</span></li>
                <li><span>更多&gt;&gt;</span></li>
            </ul>
            <div class="left itemc">
                <div class="i active">
                    <p class="t">安居计划</p>
                    <p class="c">
                        员工是腾讯最宝贵的财富；为了帮助多年来与公司共同成长的员工早日安居乐业，经公司讨论决定，设立安居计划，为符合条件的员工提供首套购房首付款的免息借款，帮助员工解决后顾之忧，早日实现安居梦想。</p>
                </div>
                <div class="i">
                    <p class="t">住房公积金</p>
                    <p class="c">
                        公司一直秉承员工为企业的第一财富的理念，并致力于为员工提供舒适的工作环境和有竞争力的薪酬福利待遇。我们帮员工缴纳住房公积金，属于职工个人所有，用于职工购买、建造、翻建、大修自住住房等支出，享有提取、贷款的优惠利率。</p>
                </div>
                <div class="i">
                    <p class="t">社会与商业保险</p>
                    <p class="c">
                        我们为员工提供完善的保障计划，包括国家法定的养老保险、医疗保险、工伤保险、失业保险、生育保险及根据政府政策缴纳住房公积金。为更好地解除员工基本生活的后顾之忧，公司为员工投保了团体商业补充医疗保险，在原有社会保险之外，员工还享有意外伤害保险、定期寿险、重大疾病、补充医疗等，另外，开放配偶和子女的商业保险自费团购平台，同时新增父母、公婆、岳父母商业保险自费团购。</p>
                </div>
                <div class="i">
                    <p class="t">员工假期</p>
                    <p class="c">法定假期方面，我们提供：年休假、带薪病假、双休日/法定公众假期、婚假、丧假、产假、陪产假、哺乳假等相关假期。</p>
                    <p class="c">
                        员工满足相应假期条件的，可以获得相应假期的休假资格。目前的假期类型包括：年休假、事假、病假、婚假、产假、陪产假、丧假、流产假、派驻假、未出勤假、调休假等。</p>
                </div>
                <div class="i">
                    <p class="t">年度团队建设</p>
                    <p class="c">
                        为增强公司及部门内员工的凝聚力，促进部门整体气氛积极向上、和谐自由，平衡员工工作与生活而提供的年度团队建设活动。目前的组织形式为以部门为单位的集体旅游，依靠专业的旅游公司，提供多样的地点选择，让员工能尽情享受旅程的美好。</p>
                </div>
                <div class="i">
                    <p class="t">暑期实习</p>
                    <p class="c">
                        对于暑期实习生，若实习期间工作所在地与其家庭或学校所在地非同一城市，将享有公司提供的交通补贴和住宿补贴，同时，实习生还享有办公环境内的公共休闲娱乐设施，加班宵夜和班车等福利。我们还为实习生购买意外伤害商业保险。</p>
                </div>
                <div class="i">
                    <p class="t">固定工资</p>
                    <p class="c">我们根据员工的岗位为员工提供具有市场竞争力的固定工资，并在每年根据最新市场趋势、员工的薪酬水平以及绩效水平进行综合的回顾和审阅。</p>
                    <p class="t">年度服务奖金</p>
                    <p class="c">为了感谢员工一来年的贡献，我们根据员工当年在公司的服务时间，员工提供年度服务奖金即年底双薪。</p>
                    <p class="t">绩效奖金</p>
                    <p class="c">年度结束后，我们会根据公司整体业绩和员工绩效表现提供绩效奖金。绩效奖金与员工绩效和贡献紧密联系，体现与公司与员工同成长、共分享的理念。</p>
                    <p class="t">专项奖励</p>
                    <p class="c">
                        在加入腾讯大家庭后，员工将有众多的机会成为公司的“明星”。我们设立了多项的奖励项目认可每一个有杰出贡献的员工及团队，如“星级员工”、“星级团队”等公司级和系统级专项奖励等，主要以精神激励及实物奖金的形式奖励有突出表现和贡献的员工，向全体员工宣传“明星”们的闪光点，以树立良好的楷模。</p>
                    <p class="t">股票期权</p>
                    <p class="c">我们为绩效表现持续优秀，且有志于在公司长期发展的骨干员工提供公司股票期权，旨在通过分享公司业绩增长，使员工个人利益与公司发展的长远利益紧密结合在一起。</p>
                </div>
            </div>
            <div class="clr"></div>
        </div>

        <p class="t">我们的员工关怀</p>
        <div class="height20"></div>
        <div id="guanhuai">
            <a href="javascript:;" class="i">
                <div class="desc">
                    每年7月，公司都会组织全国范围的“家属开放日”，邀请员工家属到公司参观，了解公司文化、业务内容，还有丰富的活动和礼包哦！让员工的家人更了解腾讯，更支持员工的工作。
                </div>
                <div class="gc">家属开放日</div>
            </a>
            <a href="javascript:;" class="i">
                <div class="desc">15年以上资深医学专家、国家级资深心理咨询专家在您和您家人有需要的时候，提供一对一专业咨询和辅导，包括电话咨询和面询，随时解答员工和家人的问题和困惑。
                </div>
                <div class="gc">身心健康热线</div>
            </a>
            <a href="javascript:;" class="i">
                <div class="desc">
                    邀请生理、心理资深专家或知名人士，为员工及家属提供包括疾病防治、职场压力管理、个性与沟通、亲子关系、婚姻恋爱、兴趣爱好、工作生活平衡等一系列身心健康精品课程。
                </div>
                <div class="gc">关爱大讲堂</div>
            </a>
            <a href="javascript:;" class="i right0">
                <div class="desc">
                    身体健康对每个人都非常重要，关注您的身体健康，就是对家人和自己最好的回馈。公司提倡我们关注、保护、爱护我们的身体健康，从现在开始储蓄健康，做真正健康、活力的腾讯人！
                </div>
                <div class="gc">健康体检</div>
            </a>
            <a href="javascript:;" class="i nomag right0">
                <div class="desc">根据员工需要，每双周定期邀请两名中医院知名主任级专家，到公司为大家提供面对面问诊服务，包括内科、儿科、妇科、耳鼻喉科、眼科等。</div>
                <div class="gc">中医问诊</div>
            </a>
            <a href="javascript:;" class="i">
                <div class="desc">
                    以提高效率、节约员工上下班时间成本为目的，面向全员，目前已开通城市有深圳、成都、上海、北京四地，其中总部员工班车路线已覆盖深圳市内大部分地区、2010年总计提供服务200多万人次，极大地便利了员工的工作和生活。
                </div>
                <div class="gc">班车</div>
            </a>
            <a href="javascript:;" class="i">
                <div class="desc">
                    为增强公司及部门内员工的凝聚力，促进部门整体气氛积极向上、和谐自由，平衡员工工作与生活而提供的年度团队建设活动。目前的形式为部门以"团建"为主旨，采取户外拓展、主题会议、团队旅游等形式组织活动。加强团队内部交流，提升团队凝聚力。公司为员工提供固定团队建设活动经费补贴。
                </div>
                <div class="gc">年度团队建设</div>
            </a>
            <a href="javascript:;" class="i">
                <div class="desc">
                    在每年的各个重要节庆时间，为了增加员工对公司的归属感，让员工感觉到公司的人文关怀而准备的丰富的活动及礼品。端午的香粽、盛夏的鲜果、中秋的月饼……再加上丰富多彩的主题活动，让员工尽享节日的快乐。
                </div>
                <div class="gc">节庆礼品</div>
            </a>
            <a href="javascript:;" class="i right0">
                <div class="desc">结婚的员工将会收到公司送出的结婚礼金与公仔，升级为Q爸Q妈的员工还将获得生育礼包，包括生育礼金与Q宝宝生日靓号。</div>
                <div class="gc">婚育礼金</div>
            </a>
            <a href="javascript:;" class="i nomag right0">
                <div class="desc">
                    公司会为入职满一周年员工送出礼品（设计成“正直、进取、合作、创新”价值观一套四张的Q币）为入职满十周年员工赠送尊贵的“钻企鹅”，企鹅周身贴满施华洛世奇的水钻，其余地方为18K镀金，头顶"10"字样的钻石皇冠，寓意服务十周年，并且在底座会刻上十年员工的姓名，为腾讯服务十周年的员工表示感谢，在每年11月11日司庆文化日的时候，由总办颁发。
                </div>
                <div class="gc">入职贺礼</div>
            </a>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
</body>