{% extends 'about/about_base.html' %}
{% block tilte %}
    <title>区域布局 | 认识腾讯 | Tencent 腾讯招聘</title>
{% endblock %}

<body>
{% block content %}
    <div id="branch" class="maxwidth">
        {% block page_left %}
            {{ block.super }}
        {% endblock %}
        <div class="right userright box">
            <div class="blueline">
                <div class="butqybj"></div>
            </div>
            <div class="height10"></div>
            <div class="cont" id="knowqqcont">
                <div class="i">
                    <div class="left"><img src="//cdn.m.tencent.com/hr_static/img/branch1.png"/></div>
                    <div class="right r">
                        <div class="t">北京分公司</div>
                        <p class="c">
                            北京分公司位于北京中关村核心地区的银科大厦、第三极、希格玛，自2000年成立至今，已经拥有近4000名员工。中国最大的中文门户网站——腾讯网，公司旗下的搜索网站soso、腾讯微博以及腾讯广告业务的主干力量都驻扎在这里，北京分公司主要业务覆盖综合门户网站信息资讯服务，搜索服务和技术研发支持，无线增值业务以及网络媒体广告服务等。</p>
                        <div class="pt9"><a target="_blank" href="https://hr.tencent.com/position.php?lid=2156" class="more3">点击查看北京地区职位</a></div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="i graybg">
                    <div class="left"><img src="//cdn.m.tencent.com/hr_static/img/branch2.png"/></div>
                    <div class="right r">
                        <div class="t">上海分公司</div>
                        <p class="c">
                            上海分公司于2002年宣布成立，位于徐汇区漕河泾开发区。上海分公司集结着优越的金融环境、夯实的人才储备以及成熟的用户基础等优势成为腾讯在华东地区的主要业务发展中心和纽带。这不仅快速提升了上海分公司本身的发展态势，也大大的提升了腾讯在华东区域的业务发展速度。上海分公司是个整合多个业务部门发展的规模化的分公司。目前上海分公司的人员已从2002年成立初期的几人发展到今天的超过2000人的规模。</p>
                        <div class="pt9"><a target="_blank" href="https://hr.tencent.com/position.php?lid=2175" class="more3">点击查看上海地区职位</a></div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="i">
                    <div class="left"><img src="//cdn.m.tencent.com/hr_static/img/branch3.png"/></div>
                    <div class="right r">
                        <div class="t">成都分公司</div>
                        <p class="c">
                            成都分公司2007年11月宣布成立，位于成都高新区内天府软件园二期。成都分公司作为腾讯中国西南部的枢纽中心，将有助于大大提升腾讯的客户服务能力、互动娱乐产品研发能力和数据信息处理能力，保障腾讯更好地实现可持续发展，提升运营能力。随着成都的经济发展及城市综合实力的提升，成都的人才吸引优势也越来越强，公司在成都的业务拓展也能更加有效地吸引西部人才，因此公司越来越多的BU都将加强在成都的业务拓展，成都分公司也将成为腾讯又一个非常重要的区域人才中心。</p>
                        <div class="pt9"><a href="http://cd.tencent.com" target="_blank" class="more3">点击查看成都地区职位</a>
                        </div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="i graybg">
                    <div class="left"><img src="//cdn.m.tencent.com/hr_static/img/branch4.png"/></div>
                    <div class="right r">
                        <div class="t">广州分公司</div>
                        <p class="c">
                            广州分公司2005年3月宣布成立，位于广州天河区南方通信大厦和天河区体育东路金利来大厦。广州分公司作为深圳总部的后花园，承担了越来越重要的研发任务,先后推出了很多重量级的产品，如QQ邮箱，微信，QQ手机管家，QQ通讯录，QQ手机同步助手等。广州分公司同时承担了腾讯网华南广告销售的职能。广州分公司坐拥广州地区高校的优势,吸纳了很多优秀的人才加盟,人员规模500多人，是公司战略布局中非常重要的人才基地。</p>
                        <div class="pt9"><a target="_blank" href="https://hr.tencent.com/position.php?lid=2196" class="more3">点击查看广州地区职位</a></div>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
{% endblock %}
</body>