{% extends 'about/about_base.html' %}
{% block tilte %}
    <title>业务体系 | 认识腾讯 | Tencent 腾讯招聘</title>
{% endblock %}
<body>
{% block content %}
    <div id="branch" class="maxwidth">
        {% block page_left %}
            {{ block.super }}
        {% endblock %}
        <div class="right userright box">
            <div class="blueline">
                <div class="butywtx"></div>
            </div>
            <div class="height10"></div>
            <div class="cont" id="knowqqcont">
                <div class="i">
                    <div class="t">微信事业群（WeiXin Group，简称WXG）</div>
                    <p class="c">
                        微信事业群，负责微信基础平台、微信开放平台，以及微信支付拓展、O2O等微信延伸业务的发展，并包括邮箱、通讯录等产品开发和运营，致力于打造微信大平台，为用户和合作伙伴创造更多价值。</p>
                    <p class="c"><a class="more3" href="http://hr.tencent.com/position.php?lid=&tid=&keywords=WXG"
                                    target="_blank">点击查看相关职位</a>
                    </p>
                </div>
                <div class="i">
                    <div class="t">企业发展事业群（Corporate Development Group，简称CDG）</div>
                    <p class="c">
                        企业发展事业群CDG在腾讯内部担当战略规划、投资者关系维护、公司品牌建设、业务孵化和投资并购等角色。财付通业务即属于CDG，而投资工作、海外业务拓展也由CDG负责，比如国内外投资并购、wechat的海外市场推广等。有志于互联网金融，股权投资、创新业务、品牌管理和国际业务拓展等方向并拥有专长的同学可格外关注！</p>
                    <p class="c"><a class="more3"
                                    href="http://hr.tencent.com/position.php?lid=&tid=&keywords=%E8%B4%A2%E4%BB%98%E9%80%9A"
                                    target="_blank">点击查看相关职位</a></p>
                </div>
                <div class="i">
                    <div class="t">互动娱乐事业群（Interactive Entertainment Group，简称IEG）</div>
                    <p class="c">负责腾讯互动娱乐业务的运营与发展，寻求全球互动娱乐的新机遇。</p>
                    <p class="c"><a class="more3" href="http://game.qq.com/hr" target="_blank">点击查看相关职位</a></p>
                </div>
                <div class="i">
                    <div class="t">移动网络事业群（Mobile Internet Group，简称MIG）</div>
                    <p class="c">负责腾讯无线相关业务和搜索商业化的运营与发展，帮助腾讯在移动互联网领域把握市场机会。</p>
                    <p class="c"><a class="more3" href="http://mighr.qq.com" target="_blank">点击查看相关职位</a></p>
                </div>
                <div class="i">
                    <div class="t">网络媒体事业群（Online Media Group，简称OMG）</div>
                    <p class="c">负责腾讯网络媒体业务的运营和发展，包括腾讯网、腾讯微博、腾讯视频、腾讯智慧等核心产品的用户价值以及商务模式开拓，并负责优化重点产品的品牌策略。</p>
                    <p class="c"><a class="more3" href="http://hr.tencent.com/position.php?lid=&tid=&keywords=OMG"
                                    target="_blank">点击查看相关职位</a>
                    </p>
                </div>
                <div class="i">
                    <div class="t">社交网络事业群（Social Network Group，简称SNG）</div>
                    <p class="c">负责以QQ、QQ空间与朋友网为基础打造大社交平台，为用户提供即时通信与社交网络的综合性服务，拓展创新增值业务，推动腾讯开放平台战略，为用户和合作伙伴创造更多价值。</p>
                    <p class="c"><a class="more3" href="http://imgcache.qq.com/isd/index.html"
                                    target="_blank">点击查看相关职位</a>
                    </p>
                </div>
                <div class="i">
                    <div class="t">技术工程事业群（Technology and Engineering Group，简称TEG）</div>
                    <p class="c">负责为腾讯内部及各事业群提供技术及运营平台支撑，为用户提供全线产品的客户服务，并负责搜索相关产品的技术研发与运营。</p>
                    <p class="c"><a class="more3" href="http://hr.qq.com" target="_blank">点击查看相关职位</a></p>
                </div>
                <div class="i">
                    <div class="t">职能系统</div>
                    <p class="c">涵盖法务、行政、采购、基建、人力资源等重要职能，是腾讯业务运转的有力支撑体系。</p>
                    <p class="c"><a class="more3" href="http://hr.tencent.com/position.php?tid=84" target="_blank">点击查看相关职位</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
{% endblock %}
</body>
</html>