{% extends 'about/about_base.html' %}
{% block tilte %}
    <title>企业文化 | 认识腾讯 | Tencent 腾讯招聘</title>
{% endblock %}
<body>
{% block content %}
    <div id="branch" class="maxwidth">
        {% block page_left %}
            {{ block.super }}
        {% endblock %}
        <div class="right userright box">
            <div class="blueline">
                <div class="butqywh"></div>
            </div>
            <div class="height10"></div>
            <div class="cont" id="knowqqcont">
                <div class="i">
                    <div class="t">愿景（VISION）：最受尊敬的互联网企业</div>
                    <ul class="squareli">
                        <li>不断倾听和满足用户需求，引导并超越用户需求，赢得用户尊敬；</li>
                        <li>通过提升企业地位与品牌形象，使员工具有高度的企业荣誉感和自豪感，赢得员工尊敬；</li>
                        <li>推动互联网行业的健康发展，与合作伙伴共同成长，赢得行业尊敬；</li>
                        <li>注重企业责任，关爱社会、回馈社会，赢得社会尊敬。</li>
                    </ul>
                </div>
                <div class="i">
                    <div class="t">使命(MISSION)：通过互联网服务提升人类生活品质</div>
                    <ul class="squareli">
                        <li>使产品和服务像水和电一样源源不断融入人们的生活，为人们带来便捷和愉悦；</li>
                        <li>关注不同地域、不同群体，并针对不同对象提供差异化的产品和服务；</li>
                        <li>打造开放共赢平台，与合作伙伴共同营造健康的互联网生态环境。</li>
                    </ul>
                </div>
                <div class="i">
                    <div class="t">价值观(VALUES)：正直、进取、合作、创新</div>
                    <div class="valuet">正直 :</div>
                    <ul class="squareli">
                        <li>遵守国家法律与公司制度，绝不触犯企业高压线；</li>
                        <li>做人德为先，坚持公正、诚实、守信等为人处事的重要原则；</li>
                        <li>用正直的力量对周围产生积极的影响。</li>
                    </ul>
                    <div class="valuet">进取：</div>
                    <ul class="squareli">
                        <li>尽职尽责，高效执行；</li>
                        <li>勇于承担责任，主动迎接新的任务和挑战；</li>
                        <li>保持好奇心，不断学习，追求卓越。</li>
                    </ul>
                    <div class="valuet">合作：</div>
                    <ul class="squareli">
                        <li>具有开放共赢心态，与合作伙伴共享行业成长；</li>
                        <li>具备大局观，能够与其他团队相互配合，共同达成目标；</li>
                        <li>乐于分享专业知识与工作经验，与同事共同成长。</li>
                    </ul>
                    <div class="valuet">创新：</div>
                    <ul class="squareli">
                        <li>创新的目的是为用户创造价值；</li>
                        <li>人人皆可创新，事事皆可创新；</li>
                        <li>敢于突破，勇于尝试，不惧失败，善于总结。</li>
                    </ul>
                </div>
                <div class="i">
                    <div class="t">我们的经营理念： 一切以用户价值为依归</div>
                    <ul class="squareli">
                        <li>注重长远发展，不因商业利益伤害用户价值；</li>
                        <li>关注并深刻理解用户需求，不断以卓越的产品和服务满足用户需求；</li>
                        <li>重视与用户的情感沟通，尊重用户感受，与用户共成长。</li>
                    </ul>
                </div>
                <div class="i">
                    <div class="t">我们的管理理念：关心员工成长</div>
                    <ul class="squareli">
                        <li>为员工提供良好的工作环境和激励机制；</li>
                        <li>完善员工培养体系和职业发展通道，使员工获得与企业同步成长的快乐；</li>
                        <li>充分尊重和信任员工，不断引导和鼓励，使其获得成就的喜悦。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
{% endblock %}
</body>
</html>