{% extends 'about/about_base.html' %}
{% block tilte %}
    <title>公司介绍 | 认识腾讯 | Tencent 腾讯招聘</title>
{% endblock %}

<body>
{% block content %}
    <div id="about" class="maxwidth">
        {% block page_left %}
            {{ block.super }}
        {% endblock %}
        <div class="right userright box">
            <div class="blueline">
                <div class="butgsjs"></div>
            </div>
            <div class="height10"></div>
            <div class="cont" id="knowqqcont">
                <img src="//cdn.m.tencent.com/hr_static/img/about1.png"/>
                <p class="ptb9">
                    腾讯公司成立于1998年11月，是目前中国最大的互联网综合服务提供商之一，也是中国服务用户最多的互联网企业之一。成立十年多以来，腾讯一直秉承“一切以用户价值为依归”的经营理念，始终处于稳健发展的状态。</p>
                <div class="height20"></div>

                <img src="//cdn.m.tencent.com/hr_static/img/about2.png"/>
                <p class="bold">"一站式"在线生活平台</p>
                <p>
                    通过互联网服务提升人类生活品质是腾讯公司的使命。目前，腾讯把为用户提供“一站式在线生活服务”作为战略目标，提供互联网增值服务、移动及电信增值服务和网络广告服务。通过即时通信QQ、腾讯网（QQ.com）、腾讯游戏、QQ空间、无线门户、搜搜、拍拍、财付通等中国领先的网络平台，腾讯打造了中国最大的网络社区，满足互联网用户沟通、资讯、娱乐和电子商务等方面的需求。截至2011年9月30日，QQ即时通信的活跃帐户数达到7.117亿，最高同时在线帐户数达到1.454亿。腾讯的发展深刻地影响和改变了数以亿计网民的沟通方式和生活习惯，并为中国互联网行业开创了更加广阔的应用前景。</p>
                <div class="height20"></div>

                <a target="_blank" href="//cdn.m.tencent.com/hr_static/img/about3_big.jpg" class="zoomin"><img
                        src="//cdn.m.tencent.com/hr_static/img/about3.png"/></a>
                <p class="bold">创新能力</p>
                <p>
                    面向未来，坚持自主创新，树立民族品牌是腾讯公司的长远发展规划。目前，腾讯50%以上员工为研发人员。腾讯在即时通信、电子商务、在线支付、搜索引擎、信息安全以及游戏等方面都拥有了相当数量的专利申请。2007年，腾讯投资过亿元在北京、上海和深圳三地设立了中国互联网首家研究院——腾讯研究院，进行互联网核心基础技术的自主研发，正逐步走上自主创新的民族产业发展之路。</p>
                <div class="height20"></div>

                <img src="//cdn.m.tencent.com/hr_static/img/about4.png"/>
                <p class="bold">开放平台</p>
                <p>
                    2011年6月15日，腾讯宣布将向第三方合作伙伴开放腾讯平台。过去，腾讯的梦想是打造一站式在线生活平台，而今，腾讯的梦想是建设一个没有疆界，开放共享的互联网新生态。开放，对腾讯而言，是一次使命的转变，公司将会从组织、战略及文化等全方位与开放平台接轨，建立一个更健康的互联网生态环境，为我们的用户和合作伙伴带来更高的价值。</p>
                <div class="height20"></div>

                <img src="//cdn.m.tencent.com/hr_static/img/about5.png"/>
                <div class="height20"></div>
                <p class="bold">企业责任</p>
                <p>
                    成为最受尊敬的互联网企业是腾讯公司的远景目标。腾讯一直积极参与公益事业、努力承担企业社会责任、推动网络文明。2006年，腾讯成立了中国互联网首家慈善公益基金会——腾讯慈善公益基金会，并建立了腾讯公益网（gongyi.qq.com），专注于辅助青少年教育、贫困地区发展、关爱弱势群体和救灾扶贫工作。目前，腾讯已经在全国各地陆续开展了多项公益项目，积极践行企业公民责任，为“和谐社会”建设做出贡献。</p>
                <div class="height20"></div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
{% endblock %}
</body>
</html>